<div class="row">
    <div class="col-sm-12 col-lg-10 mx-lg-auto text-left">
        <div class="card rounded-0">
            <div class="card-header">
                <h3 class="mb-0">Register</h3>
            </div>
            <div class="card-body">
                <form class="form" role="form" autocomplete="off" id="formLogin" (submit)="register($event)">
                    <div class="form-group">
                        <label for="uname1">Username</label>
                        <input type="text" class="form-control form-control-lg rounded-0" name="uname1" id="username"
                            required="">
                        <div class="invalid-feedback">Oops, you missed this one.</div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        <input type="password" class="form-control form-control-lg rounded-0" id="password" required=""
                            autocomplete="new-password">
                        <div class="invalid-feedback">Enter your password too!</div>
                    </div>
                    <div>
                        <span class="custom-control-description small text-dark">Already have an account? <a
                                routerLink="/login">click here!</a></span>
                    </div>
                    <button type="submit" class="btn btn-success btn-lg float-right" id="btnLogin">register</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!--/card-block-->